{{!-- <div class="footer-copyright">
  <div class="container">
    <p>Copyright © 2020 | Raúl Adamuz Cano, Carlos Aguilar, Jordi Álvarez</p>
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
  </div>
</div> --}}
<footer class="page-footer black">
  <div class="row center" style="margin-bottom:0px;">
    <div class="col s12 m6 l4">
      <h5 class="white-text">Download Our App!</h5>
      <ul>
        <li><a target="_blank" rel="noopener noreferrer"
            href="https://go.onelink.me/app/b8982799?pid=WNG&amp;c=footer&amp;af_sub1=15075-219"><img class="_11-OM"
              src="/img/appStore.svg" alt="Download on the App Store"></a></li>
        <li><a rel="noopener noreferrer"
            href="https://go.onelink.me/app/3617e90?pid=WNG&amp;c=footer&amp;af_sub1=15075-219"><img class="_11-OM"
              src="/img/playStore.svg" alt="Get it on Google Play"></a></li>
      </ul>
    </div>
    <div class="col s12 m6 l7">
      <div class="list">
        <ul class="list-ul">
          <li class="list-li"><a href="/about" rel="noopener noreferrer ">¿Quiénes somos?</a></li>
          <li class="list-li"><a href="/yums">Programa Yums</a></li>
          <li class="list-li"><a href="/contact">Información de contacto</a></li>
          <li class="list-li"><a href="/legal">Condiciones de uso</a></li>
          <li class="list-li"><a href="https://www.theforkmanager.com/es-es/b2c-referral?cc=b2c-referral"
              rel="noopener noreferrer">¿Tienes un restaurante?</a></li>
          <li class="list-li"><a href="/legal#PoliticaDePrivacidad">Declaración de Privacidad y Cookies</a></li>
          <li class="list-li"><a href="https://support.eltenedor.es/s/?language=es" rel="noopener noreferrer">Preguntas
              frecuentes</a></li>
          <li class="list-li"><a href="https://info.evidon.com/pub_info/17005?v=1&amp;nt=0&amp;nw=true"
              class="evidon-consent-dialog" rel="noopener noreferrer nofollow">Aceptación de cookies</a></li>
          <li class="list-li"><a href="https://careers.thefork.com/" rel="noopener noreferrer ">Trabaja con nosotros</a>
          </li>
          <li class="list-li"><a href="https://blog.thefork.com/es/" rel="noopener noreferrer ">Blog</a></li>
          <li class="list-li"><a href="https://guide.michelin.com/es/es" rel="noopener noreferrer nofollow">Colaboración
              Guía MICHELIN</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="container pad">
      <ul>
        <a href=""><img src="/img/facebook.png" alt="Facebook Logo" width="50px" height="50px"></a>
        <a href=""><img src="/img/instagram.png" alt="Instagram Logo" width="50px"></a>
      </ul>
    </div>
    <div class="footer-end">
      <div class="container center white-text bold">
        <h6><b>Copyright © 2021 YankeesFork | Raúl Adamuz Cano, Carlos Aguilar, Jordi Álvarez | TODOS LOS DERECHOS
            RESERVADOS</b></h6>
        {{!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> --}}
      </div>
    </div>
    <div class="container center footer-end">
      <p>Las ofertas promocionales están sujetas a las condiciones que figuran en la página del restaurante. Las ofertas
        en bebidas alcohólicas están dirigidas únicamente a adultos. El consumo excesivo de alcohol es perjudicial para
        la salud. Bebe con moderación.</p>
    </div>
</footer>