<nav class="grey darken-3" style="margin: right;">
    <div class="nav-wrapper container">
        <a href="#!" class="brand-logo center"> Restaurants Guide</a>

        <img src="./img/logo.png"  width="70" height="70">
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large" style="float: right;">
            <i class="fas fa-bars"></i>
        </a>

        <ul class="sidenav" id="mobile-demo">
            <li><a href="">Public Restaurants</a></li>
            <li><a href="">Home</a></li>
            <li><a href="">Logout</a></li>
        </ul>
    </div>
</nav>