<nav class="blue lighten-3" style="margin: right;">
    <div class="nav-wrapper container">
        <a href="/" class="brand-logo center black-text">YankeesFork</a>
        <a href="/">
            <img src="/img/logo.png" class="logo">
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large" style="float: right;color:black;">
            <i class="fas fa-bars"></i>
        </a>

        <ul class="sidenav" id="mobile-demo">
            <li><a href="/">Public Restaurants</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>
</nav>