<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">

    <title>YankeesFork Admin Panel</title>

    <link rel="icon" type="image/png" href="/img/logo.png">
</head>
<body>
    {{>_headerback}}
    <div class="container">
        {{{body}}}
    </div>

    {{>_footerback}}

    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        M.Sidenav.init(document.querySelector('.sidenav'), {edge:'right'})
    </script>
</body>
</html>