<h1>About Us, We are the best Restaurant Guide in the world</h1>
<p>YankeesFork nace en el año 2021, somos un equipo de desarrolladores que estamos en continuo crecimiento
    Hemos creado está app para que sirva a la gente ha encontrar el mejor restaurante de su zona para que pueda
    disfrutar de la mejor velada posible.</p>

<p> objetivo es que nuestra App sea de utilidad para todos los usuarios como los propietarios de restaurantes
    y sus posibles comensales. En nuestra App los propietarios de restaurante pueden dar de alta su restaurante, y
    publicar
    todo tipo de ofertas para que la gente pueda verlo.</p>

<p>Nuestros valores son..............</p>