<h1>YankeesFork</h1>


    <div class="card sticky-action">
        {{#each restaurants}}
    <div class="card-image waves-effect waves-block waves-light">
      <img class="img" src={{img}}>
    </div>
    <div class="card-action">
      <span class="card-title activator grey-text text-darken-4">{{name}}<i class="material-icons right">Más Información</i></span>
      <p><a href="https://www.yankeesshop.team">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
    {{/each}}
  </div>
    
