<h3><i class="fas-fa-book-reader"></i> Restaurants Guide </h3>
<div class="section">
    <p class="lead"> Life’s too short for boring food</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log in With Google
    </a>
</div>