<h3><i class="fas fa-utensils"></i> YankeesFork</h3>
<div class="section">
    <p class="lead">Find the best restaurants in the world</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i>Log In With Google
    </a>
</div>