.logo {
    float: left;
    width: 70px;
    height: 75px;
}

.img {
    width: 100%;
    height: 500px;
}

.imgAbout {
    width: 33.333333% !important;
}

.contact {
    margin-top: 20px;
}

.footer-end {
    padding-bottom: 10px;
    font-size: .75rem;
}

._11-OM {
    width: 10rem;
    margin-bottom: 16px;
}

.list {
    flex-basis: 66.66667%;
    padding: 0;
    display: block;
    color: #fff;
    letter-spacing: 0;
    line-height: 1.5;
    text-size-adjust: 100%;
}

.list-ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    list-style-type: none;
    font-size: .875rem;
    padding: 0 1rem;
    color: #fff;
}

.list-li {
    width: 50%;
    box-sizing: inherit;
    background-repeat: no-repeat;
    display: list-item;
    text-align: -webkit-match-parent;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    list-style-type: none;
    font-size: 1.1rem;
    padding: 0 1rem;
    color: #fff;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: 100%;
    box-sizing: inherit;
    background-repeat: no-repeat;
}

.list-li a {
    padding: 6px;
    color: #fff;
    text-align: left;
}

.list-li-back a {
    padding: 6px;
    color: rgb(0, 0, 0);
    text-align: left;
}

.adjust {
    height: 50px;
}

.pad a {
    padding: 20px;
}

.pad {
    padding-top: 220px;
    padding-bottom: 0px;
}

.margin-bottom {
    margin-bottom: 50px;
}

.margin-top {
    margin-top: 30px;
}

.login-container {
    width: 400px;
    text-align: center;
}

.login-container p {
    margin: 10px 0 !important;
}

#a p {
    margin-top: 10px;
    margin-bottom: 10px;
}

#b a {
    margin-right: 0px;
}

#map {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 300px;
    /* position: relative; */
    /* overflow: hidden; */
    margin: 0 auto;
}

#sRestTit{
    background-color: rgba(187, 187, 187, 0.767);
    border-radius: 10px;
}