<h3>Add Restaurant</h3>
<div class="row">
    <form action="/restaurants" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="name" name="name">
                <label for="name">Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="forks" name="forks">
                <label for="forks">Forks</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="phone" name="phone">
                <label for="phone">Phone</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <select id="price" name="price">
                    <option value="€" selected>€</option>
                    <option value="€€">€€</option>
                    <option value="€€€">€€€</option>
                </select>
                <label for="price">Price</label>
            </div>
        </div>
        <textarea name="foods" id="foods" cols="30" rows="10">Foods</textarea>
        <textarea name="services" id="services" cols="30" rows="10">Services</textarea>
        <div class="row">
            <div class="input-field">
                <input type="text" id="category" name="category">
                <label for="category">Category</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="addressLocality" name="addressLocality">
                <label for="addressLocality">City</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="addressRegion" name="addressRegion">
                <label for="addressRegion">Region</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="postalCode" name="postalCode">
                <label for="postalCode">PostalCode</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="streetAddress" name="streetAddress">
                <label for="streetAddress">streetAddress</label>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/admin" class="btn orange">Cancel</a>
        </div>
    </form>
</div>